/* Sticky footer styles
-------------------------------------------------- */
html {
	position: relative;
	min-height: 100%;
}
body {
	/* Margin bottom by footer height */
	padding-bottom: 10px;
}
.footer {
	width: 100%;
	/* Set the fixed height of the footer here */
	background-color: #f5f5f5;
	word-wrap: break-word;
}


/* Custom page CSS
-------------------------------------------------- */
/* Not required for template or sticky footer method. */

.container {
}
.container .text-muted {
	margin: 20px 0;
}

tr.footable-detail-row > td {
	border-top: 0 !important;
}
